.invisible {
    display: none;
}

.list {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: -10px;
    position: relative;
}

p {
    font-size: 12px;
    border: 1px solid lightgray;
    padding: 5px;
}

.materia-list-container {
    height: 80px;
    width: 100%;
    overflow-y: auto;
    border: 1px solid lightgray;
    margin: 0px;
}


/*Table*/


/* default styling. Nothing to do with freexing first row and column */

main {
    display: flex;
}

main>* {
    border: 1px solid;
}

table {
    border-collapse: collapse;
    font-family: helvetica
}

td,
th {
    border: 1px solid;
    padding: 10px;
    min-width: 200px;
    background: white;
    box-sizing: border-box;
    text-align: left;
}

.table-container {
    position: relative;
    max-height: 300px;
    width: 500px;
    overflow: scroll;
}

thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background: var(--colorB);
}

thead th:first-child {
    left: 0;
    z-index: 3;
}

tfoot {
    position: -webkit-sticky;
    bottom: 0;
    z-index: 2;
}

tfoot td {
    position: sticky;
    bottom: 0;
    z-index: 2;
    background: var(--colorB);
}

tfoot td:first-child {
    z-index: 3;
}

tbody {
    overflow: scroll;
    height: 200px;
}


/* MAKE LEFT COLUMN FIXEZ */

tr> :first-child {
    position: -webkit-sticky;
    position: sticky;
    background: var(--colorA);
    color: white;
    text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
    left: 0;
    border: 1px solid black;
}


/* don't do this */

tr> :first-child {
    box-shadow: inset 0px 1px black;
}