 @font-face {
     font-family: 'Exo';
     src: url('/fonts/Exo2-Regular.ttf');
 }
 
 .invisible {
     display: none;
 }
 
 #titulo {
     font-size: 16px;
     width: 100%;
 }
 
 #title-container {
     margin-bottom: 20px;
     width: 90%;
     text-align: center;
 }
 
 body {
     margin: 0;
     padding: 0;
     color: #fff;
     font-family: Arial;
     font-size: 12px;
     overflow: hidden;
 }
 
 #img-container {
     width: 93%;
     display: flex;
 }
 
 #logo {
     background-color: white;
     border-radius: 50%;
     height: 150px;
     border: 1px solid var(--azulBatalla);
     margin: auto;
     margin-bottom: 20px;
     margin-top: 20px;
 }
 
 .body {
     position: absolute;
     top: -20px;
     left: -20px;
     right: -40px;
     bottom: -40px;
     width: auto;
     height: auto;
     /* background: url("/IMG/JPG/roraima.jpg") no-repeat center center fixed; */
     background: url("/IMG/JPG/loginBackground.jpg") no-repeat center center fixed;
     background-size: cover;
     -webkit-filter: blur(5px);
     z-index: 0;
     background-attachment: fixed;
 }
 
 #aux-lbl-phone,
 #lbl-phone {
     width: 50%;
     float: left;
 }
 
 #aux-phone,
 #phone {
     width: 43.1%;
 }
 
 .datacontainer,
 #formulario {
     width: 100%;
 }
 
 .grad {
     position: absolute;
     top: -20px;
     left: -20px;
     right: -40px;
     bottom: -40px;
     width: auto;
     height: auto;
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
     z-index: 1;
     opacity: 0.7;
 }
 
 #form-container {
     position: absolute;
     /* top: calc(10% - 75px);
     left: calc(45% - 50px); */
     height: 500px;
     width: 400px;
     padding: 10px;
     z-index: 2;
     left: 0;
     right: 0;
     margin-left: auto;
     margin-right: auto;
 }
 
 label {
     display: block;
 }
 
 .input-data {
     width: 90%;
     height: 30px;
     background: transparent;
     border: 1px solid rgba(255, 255, 255, 0.6);
     border-radius: 2px;
     color: #fff;
     font-family: 'Exo', sans-serif;
     font-size: 16px;
     font-weight: 400;
     padding: 4px;
     margin-bottom: 10px;
 }
 
 button {
     width: 185px;
     height: 35px;
     background: #fff;
     border: 1px solid #fff;
     cursor: pointer;
     border-radius: 2px;
     color: #a18d6c;
     font-family: 'Exo', sans-serif;
     font-size: 16px;
     font-weight: 400;
     padding: 6px;
     margin-top: 10px;
 }
 
 .missing {
     border: 1px solid red;
 }
 
 button:hover {
     opacity: 0.8;
 }
 
 button:active {
     opacity: 0.6;
 }
 
 .input-data:focus {
     outline: none;
     border: 1px solid rgba(255, 255, 255, 0.9);
 }
 
 button[type=button]:focus {
     outline: none;
 }
 
 ::-webkit-input-placeholder {
     color: rgba(255, 255, 255, 0.6);
 }
 
 ::-moz-input-placeholder {
     color: rgba(255, 255, 255, 0.6);
 }
 /*
 dropbox
 */
 
 select {
     -webkit-appearance: none;
     -moz-appearance: none;
     -ms-appearance: none;
     appearance: none;
     outline: 0;
     box-shadow: none;
     border: 1px solid rgba(255, 255, 255, 0.6);
     background: transparent;
     background-image: none;
     flex: 1;
     padding: 0 .5em;
     color: rgba(255, 255, 255, 0.6);
     cursor: pointer;
     font-size: 16px;
     font-family: 'Exo', Arial, Helvetica, sans-serif;
 }
 
 select::-ms-expand {
     display: none;
 }
 
 #personal-data {
     position: relative;
 }
 
 .select {
     position: absolute;
     display: flex;
     width: 50%;
     height: 30px;
     line-height: 3;
     background: transparent;
     overflow: hidden;
     border-radius: .25em;
     margin-bottom: 10px;
     top: 10px;
     right: 30px;
 }
 
 .select::after {
     content: '\25BC';
     position: absolute;
     top: 0;
     right: 0;
     padding: 0 1em;
     background: transparent;
     cursor: pointer;
     pointer-events: none;
     transition: .25s all ease;
 }
 
 .select:hover::after {
     color: #23b499;
 }
 
 option {
     background-color: rgb(11, 71, 11);
 }
 /*imagen del studiante*/
 
 #image-student {
     display: none;
 }
 
 #lgl-imageStudent {
     border: 1px solid rgba(255, 255, 255, 0.6);
     width: 100px;
     height: 130px;
     background: url("../IMG/userPlaceHolder.png") no-repeat center center;
     background-size: cover;
     text-align: center;
     color: black;
     line-height: 30px;
     font-size: 15px;
     text-shadow: 0px 0px 3px white;
     word-wrap: break-word;
     overflow: hidden;
     margin-bottom: 20px;
 }
 /*******************************/
 
 #gender-selector-container {
     position: absolute;
     right: 30px;
     top: 50px;
     width: 180px;
     height: 70px;
     border: 1px solid rgba(255, 255, 255, 0.6);
     padding: 10px;
     border-radius: 3px;
 }
 
 #radioButtons-container {
     /* border: 1px solid black; */
     position: relative;
     width: 180px;
     height: 70px;
 }
 
 .gender-option {
     display: block;
     margin-top: 10px;
 }
 
 .lbl-gender {
     display: inline;
     font-family: "Exo";
     font-size: 16px;
 }
 
 #gender-masculine:checked~#lbl-masculine {
     color: blue;
     text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white;
 }
 
 #gender-femenine:checked~#lbl-femenine {
     color: rgb(224, 62, 89);
     text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white;
 }
 /********************************************/
 
 @media only screen and (max-width: 550px) {
     #logo {
         background-color: white;
         border-radius: 50%;
         height: 100px;
         border: 1px solid var(--azulBatalla);
         margin: auto;
         margin-bottom: 10px;
         margin-top: 10px;
     }
     #form-container {
         position: relative;
         height: 100vh;
         width: 100vw;
         padding: 10px;
         display: flex;
         align-items: center;
         justify-content: center;
     }
     .body {
         width: 120vw;
         height: 150vh;
     }
     .grad {
         width: 120vw;
         height: 150vh;
     }
     button {
         width: 45%;
         height: 30px;
         background: #fff;
         border: 1px solid #fff;
         cursor: pointer;
         border-radius: 2px;
         color: #a18d6c;
         font-family: 'Exo', sans-serif;
         font-size: 16px;
         font-weight: 400;
         padding: 6px;
         margin-top: 10px;
     }
     .input-data {
         height: 20px;
     }
 }